Django==1.6.5
PyRSS2Gen==1.0.0
dj-database-url==0.3.0
djutils==0.3.2
-e git+https://github.com/digitalbazaar/py-http-signature@824de0d8957b4423b1ac986fe47a2d303cdfb434#egg=http_signature-master
httplib2==0.9
-e git+https://github.com/mitodl/ims_lti_py.git@be26d5f9dc061bdbd7c76949b6f963bcf61fe912#egg=ims_lti_py-master
ndg-httpsclient==0.3.2
oauth2==1.5.211
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6.1
python-dateutil==1.5
pytz==2012d
requests==2.3.0
wsgiref==0.1.2
