Django==1.6.5
PyRSS2Gen==1.0.0
Twisted==12.2.0
altgraph==0.10.1
bdist-mpkg==0.4.4
dj-database-url==0.3.0
djutils==0.3.2
-e git+https://github.com/digitalbazaar/py-http-signature@824de0d8957b4423b1ac986fe47a2d303cdfb434#egg=http_signature-master
httplib2==0.9
ims-lti-py==0.6
lxml==3.3.5
macholib==1.5
modulegraph==0.10.1
ndg-httpsclient==0.3.2
numpy==1.6.2
oauth2==1.5.211
py2app==0.7.1
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6.1
python-dateutil==1.5
pytz==2012d
requests==2.3.0
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
