<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
      {% load staticfiles %}
<!--<link href="css/bootstrap.css" rel="stylesheet">-->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="container fill">
  <div class="row">
    <div class="span2"style="border:1px solid black">
        text
      <!--Sidebar content-->
    </div>
    <div class="span10" style="border:1px solid red">


      <!--Body content-->
    </div>
  </div>
</div>
</body>
</html>