{% extends "ims_lti_py_sample/base.html" %}


{% block content %}
<div class="row instructor-main-bgr" style="padding-bottom:0">
    <!--<div class="instructor-main-bgr">-->
    <div class="main-page-img"style="padding-bottom:200px">
        <div class="row welcome-row">
            {% load static %}
            <img class="img-home" src="{% static 'css_ui/SummaryPage/image.png' %}">

            <h2 class="welcome">Welcome, Betsy</h2>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3"><p class="whitetext">1. Choose an assessment</p></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3"><p class="whitetext">Choose problem from the Bank</p></div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>

            <!--Assessments-->
            <div class="col-lg-3 col-list">
                <div class="mylist-head">Assessments

                    <button class="manage-assess-btn btn btn-default" id="btn-new-assess"><span
                            class="glyphicon glyphicon-plus" style="float:right"></span></button>
                    <button class="manage-assess-btn btn btn-default" id="btn-del-assess"><span
                            class="glyphicon glyphicon-minus" style="float:right"></span></button>
                    <button class="manage-assess-btn btn btn-default" id="btn-get-offering"><span
                            class="glyphicon glyphicon-cog" style="float:right"></span></button>
                </div>


                <div class="mylist" id="assess-list">
                    {% for a in assessments %}
                    <a href="#" class="mylist-item assess-item" value="{{a.id}}">{{a.displayName.text}}</a>
                    {% endfor %}
                </div>

            </div>

            <!--Items in the assessment-->
            <div class="col-lg-3" id="assess-box-droppable">

                <div id="assess-items">
                </div>

            </div>

            <!--Items in a Bank-->
            <div class="col-lg-3">
                <p class="mylist-head">Items</p>

                <div class="mylist" id="bank-box-droppable">
                    {% for a in items %}
                    <div class="mylist-item-div bank-item">
                        <a href="#" class="mylist-item " value="{{a.id}}">{{a.displayName.text}}</a>
                    </div>

                    {% endfor %}
                </div>


                <!--<button class="btn btn-block btn-new-assess" type="button" disabled>Create New Assessment</button>-->
                <!--<button class="btn btn-block btn-del-items" type="button">Delete Items</button>-->
                <!--<label class="checkbox">-->
                <!--<input type="checkbox" value="{{a.id}}">{{a.displayName.text}}-->
                <!--</label>-->
                <!--<form id="newasses">-->
                <!--</form>-->
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<div id="newassess-items" style="display: none">
</div>
<div id="modal-offering-id" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Offering Id</h4>
            </div>
            <div class="modal-body">
                <div id="display_offering_id">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
        <div id="modal-create-assessment" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Offering Id</h4>
            </div>
            <div class="modal-body">
                <div class=""><label>Enter name<input type="text" id="assess-name"></label></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="create" data-dismiss="modal">Create</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}