{% extends "ims_lti_py_sample/base.html" %}


{% block content %}
<div class="row instructor-main-bgr" style="padding-bottom:0">
    <!--<div class="instructor-main-bgr">-->
    <div class="main-page-img"style="padding-bottom:200px">
        <div class="welcome-row">
            {% load static %}
            <img class="img-home" src="{% static 'css_ui/SummaryPage/image.png' %}">

            <h2 class="welcome">Welcome, Betsy</h2>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3"><p class="whitetext">1. Choose an assessment</p></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-3"><p class="whitetext">Choose problem from the Bank</p></div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>

            <!--Assessments-->
            <div class="col-lg-3 col-list">
                <div class="mylist-header">Assessments
                    <button class="manage-assess-btn btn btn-default" id="btn-new-assess"><span
                            class="glyphicon glyphicon-plus" style="float:right"></span></button>
                    <button class="manage-assess-btn btn btn-default" id="btn-del-assess"><span
                            class="glyphicon glyphicon-minus" style="float:right"></span></button>
                    <button class="manage-assess-btn btn btn-default" id="btn-get-offering"><span
                            class="glyphicon glyphicon-cog" style="float:right"></span></button>
                </div>


                <div class="mylist" id="assess-list">
                    {% for a in assessments %}
                    <a href="#" class="mylist-item assess-item" value="{{a.id}}">{{a.displayName.text}}</a>
                    {% endfor %}
                </div>

            </div>

            <!--Items in the assessment-->
            <div class="col-lg-3" id="assess-box-droppable">

                <div id="assess-items">
                </div>

            </div>
            <div class="col-lg-1">

            </div>

            <!--Items in a Bank-->
            <div class="col-lg-3">
                <p class="mylist-header">Items</p>

                <div class="mylist" id="bank-box-droppable">
                    {% for a in items %}
                    <div class="mylist-item-div bank-item">
                        <a href="#" class="mylist-item " value="{{a.id}}">{{a.displayName.text}}</a>
                    </div>

                    {% endfor %}
                </div>



            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>





{% endblock %}