{% extends "ims_lti_py_sample/question.html" %}

{%block unity%}
{% load staticfiles %}
<!--{%static "Gaspard/Gaspard.logo.png" as gaspard%}-->
<!--{%static "Gaspard/" as manipFile%}-->
<!--{%static "Gaspard/Gaspard - Web Buil.unity3d" as gaspardWebBuild%}-->

{% static "MultichoiceLayouts/largeOrthoViewSet0.jpg" as lg_img_layout1%}
{% static "MultichoiceLayouts/largeOrthoViewSet1.jpg" as lg_img_layout2%}
{% static "MultichoiceLayouts/largeOrthoViewSet2.jpg" as lg_img_layout3%}
{% static "MultichoiceLayouts/largeOrthoViewSet3.jpg" as lg_img_layout4%}


{% static "MultichoiceLayouts/smallOrthoViewSet0.jpg" as sm_img_layout1%}
{% static "MultichoiceLayouts/smallOrthoViewSet1.jpg" as sm_img_layout2%}
{% static "MultichoiceLayouts/smallOrthoViewSet2.jpg" as sm_img_layout3%}
{% static "MultichoiceLayouts/smallOrthoViewSet3.jpg" as sm_img_layout4%}

<script type="text/javascript">
    var selectedLayout = null;
    $(document).ready(function () {


        showFourChoices();

        $('#submit-multi-answer').click(function () {
            submitMultiAnswer();
        });

    });
    function submitMultiAnswer() {
        if (selectedLayout != null) {
//            var answer = selectedLayout.attr('value');
            $.ajax({
                url: "submit_multi_answer",
                type: "POST",
                data: {"answer": selectedLayout},
                success: function (response) {
                    printResponse(response);

                }
            });
        }
    }
    function showLargeLayout(num) {
        var four_lg_img = ["{{lg_img_layout1}}", "{{lg_img_layout2}}", "{{lg_img_layout3}}", "{{lg_img_layout4}}"];

        /* If this large layout is already selected want to check the radio button*/

        var checked='';
        if (selectedLayout != null) {
//            var selected_value = selectedLayout.attr("value");
            if (selectedLayout== num){
                checked='checked';
            }
        }



        $("#choices-row").html('<div  id="expand-img">' +

                '<a href="#"><span class="glyphicon glyphicon-chevron-left next-choice-badge" value="' + num + '" id="left-choice-badge"></span></a>' +
                '<a href="#"><span class="glyphicon glyphicon-remove close-choice-badge"></span></a>' +
                '<input style="" class="radio-inline" id="lg-img-radio" value="' + num+ '" type="radio"'+checked+'>'+
                '<img class="multichoice-img-lg" style="min-height:618px" src="' + four_lg_img[num] + '">' +
                '<a href="#"><span class="glyphicon glyphicon-chevron-right next-choice-badge" value="' + num + '" id="right-choice-badge"></span></a>' +
                '</div>');
        $('.close-choice-badge').click(function () {
            showFourChoices();

        });
        $('#lg-img-radio').change(function(){
            console.log($(this).attr('value'));
            console.log($(this).prop('checked'));
            if($(this).prop('checked')){
                selectedLayout=$(this).attr('value');

            }
            /* Want to set or reset the selected layout*/
        });

        $("#left-choice-badge").click(function () {
            console.log(parseInt($(this).attr('value')));
            displayPrevLargeLayout((parseInt($(this).attr('value'))));
        });
        $("#right-choice-badge").click(function () {
            displayNextLargeLayout((parseInt($(this).attr('value')) + 1) % 4);
        });

    }


    function displayNextLargeLayout(num) {
        showLargeLayout(num);
    }
    function displayPrevLargeLayout(num) {
        if (num < 1) {
            num = 3;
        } else {
            num--;
        }
        console.log(num);
        showLargeLayout(num);
    }
    function showFourChoices() {
        var list = "";

        var str = "";
        var four_sm_img = ["{{sm_img_layout1}}", "{{sm_img_layout2}}", "{{sm_img_layout3}}", "{{sm_img_layout4}}"];
        for (var i = 0; i < 4; i++) {


            str += '<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 choice-col" style="">' +
                    '<a href="#" class="thumbnail multichoice-img-select" value="' + i + '">' +
                    '<input style="position:absolute" class="radio-inline"value="' + i + '" type="radio">' +
                    '<img class="multichoice-img-small" value="' + i + '" style=""' +
                    'src="' + four_sm_img[i] + '">' +
                    '<span class="glyphicon glyphicon-zoom-in zoom-in-badge" value="' + i + '"></span>'+
                    '</a>' +
                    '</div>';

        }

        $("#choices-row").html(str);

        /* since the previous layout object is not existent anymore need get the value*/

        if (selectedLayout != null) {
//            var value = selectedLayout.attr("value");
//            var layouts = document.getElementsByClassName("multichoice-img-select");
//            console.log( layouts[value]);
//            var input_radio = $(layouts[value]).find('input')[0];
//            input_radio.checked = true;
//            selectedLayout = $(layouts[value]);
//            $(layouts[value]).css("background", '#DBE6EA');

//              var value = selectedLayout;

            var layouts = document.getElementsByClassName("multichoice-img-select");

           $( $(layouts[selectedLayout]).find('input')[0]).prop('checked', true);
            $(layouts[selectedLayout]).css("background", '#DBE6EA');



        }
        $(".multichoice-img-select").click(function () {
            radioClickNew($(this));
            return false;

//
        });
        $('.zoom-in-badge').click(function(){
            showLargeLayout(parseInt($(this).attr('value')));
            return false;

        });
        function radioClickNew(obj) {

            var layouts = document.getElementsByClassName("multichoice-img-select");
            var input_radio = obj.find('input')[0];

            if (selectedLayout == null) {
                selectedLayout=obj.attr('value');
                $(input_radio).prop('checked', true);
                obj.css("background", '#DBE6EA');

                //select the radio button
            } else if (selectedLayout === obj.attr('value')) { //Unselect

            } else {//reselect
                var old_radio=$(layouts[selectedLayout]).find('input')[0];
                $(layouts[selectedLayout]).css("background",'white');
                $(old_radio).attr('checked',false);

                selectedLayout = obj.attr('value');
                obj.css("background", '#DBE6EA');

                $(input_radio).prop('checked', true);
                console.log(input_radio);


            }

        }
        function checkRadio(obj){


        }


        function radioClick(obj) {
            if (selectedLayout == null) {
                console.log("Selected");
                selectedLayout = obj;
                obj.prop('checked', true);
                obj.css("background", 'green');
                //select the radio button
            } else if (selectedLayout.attr('value') === obj.attr('value')) { //Unselect
                console.log("unselected");
                obj.prop('checked', false);
                selectedLayout = null;

                //unselect the radio button

            } else {//reselect
                selectedLayout.prop('checked', false);
                selectedLayout = obj;
                selectedLayout.prop('checked', true);

            }

        }
    }
</script>


<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style=" border:0px greenyellow solid;">
    <!--want to set the height of this column to be the height of the row-->
    <!--<div class="instruction" style="border:1px solid yellow;margin-top:15px;">-->
        <!--&lt;!&ndash;<div style="display:table;"><h4>Description</h4></div>&ndash;&gt;-->

        <!--<div><p>{{question}} </p></div>-->
    <!--</div>-->

    <div class="unity-content-multichoice" style="border:0px solid indianred; overflow:hidden">
        <!--<div class="unity-content">-->
        <div id="unityPlayer">
            <div class="missing">
                <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                    <img alt="Unity Web Player. Install now!"
                         src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63"/>
                </a>
            </div>
            <div class="broken">
                <a href="http://unity3d.com/webplayer/"
                   title="Unity Web Player. Install now! Restart your browser after install.">
                    <img alt="Unity Web Player. Install now! Restart your browser after install."
                         src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63"/>
                </a>
            </div>
        </div>

        <!--</div>-->

    </div>
</div>


<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
    <div class="row" id="choices-row" style="border:0px solid blue;">
    </div>


</div>


{%endblock%}
