{% extends "ims_lti_py_sample/base.html" %}

{%block title%}
        Assessment Name
{%endblock%}

{% block content %}
<script>
    $(document).ready(function () {
        $('.prob-quest-header').click(function () {
            var width = document.getElementById('prob-quest-row').offsetWidth;
            console.log(width);
            $('.quest-item').css('width', width);
        });
        $('.quest-item').click(function(){
            //goto a different question
            getProblem($(this));
        });

    });
</script>
<div class="row main-problem-bgr" >
    <!--<div class="col-lg-1"></div>-->
    <div class="col-lg-12 col-quest-background " style="margin-top: -20px">
        <div class="display-question">
            <div class="row body-row" style="margin:0">



                <div class="col-lg-12 col-md-12">
                    <div class="question-col">
                     <!--Start of the Question-Description column-->
                    <!--<div class="question-menu-div" style="">-->
                        <div class="dropdown" id="prob-quest-row">
                            <a data-toggle="dropdown" href="#">
                                <p class="mylist-header prob-quest-header"> {{question_name}}<span class="glyphicon glyphicon-chevron-down"
                                        style="float:right; margin-top:5px;"></span></p>
                            </a>
                            <div class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                                {% for a in questions %}
                                <a href="#" class="mylist-item quest-item" value="{{a.files.manip}}"

                                   name="{{a.text.text}}">Names are empty{{a.displayName.text}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    <!--</div>-->
                        <div style="padding:100px 0 30px 0;">
                             <h4>Description</h4>

                        </div>

                    <div class="instruction">
                        <p>{{question}}</p>

                    </div>
                    <div class="instruction">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum aliquam leo, a laoreet
                        lectus gravida tristique. Nam ultrices urna ut nisi pharetra, non ornare massa gravida.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum aliquam leo, a laoreet
                        lectus gravida tristique. Nam ultrices urna ut nisi pharetra, non ornare massa gravida.
                    </div>
                    <!--End of Description column-->
                    </div>



                    {%block unity%}
                    {%endblock%}


                </div>
            </div>
        </div>
        <!--<div class="col-lg-1"></div>-->
    </div>
</div>
{%endblock%}