{% extends "ims_lti_py_sample/base.html" %}

{%block title%}
        Assessment Name
{%endblock%}

{% block content %}
<div class="row main-page-bgr">
    <div class="main-page-img">
     <div class="row welcome-row" style="">
         {% load static %}
         <img class="img-home" src="{% static 'css_ui/SummaryPage/image.png' %}">

         <h2 class="welcome">Welcome, {{userName}}!</h2>
    </div>

    <script>
       $(document).ready(function(){
            $('.quest-item').click(
                function(){
                    console.log("got clicked");
                    getProblem($(this));
                }
        );
        function getProblem(obj){
            $.ajax({
                url:'get_question',
                type:'POST',
                data:{data:[$(obj).attr('value'),$(obj).attr('name')]},//send the file.manip
                success: function(data){
                    console.log(data);
                    //window.location.href = response.redirect;
                    if(data['redirect']) {
                         window.location = data['redirectURL'];
                     }
                }
            });
        }
       });
    </script>
    <div class="row" style="height:500px;">
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <div class=" col-list">
                <p class="mylist-head">Questions</p>

                <div class="mylist">
                    {% for a in questions %}
                    <a href="#" class="mylist-item quest-item" value="{{a.files.manip}}"name="{{a.text.text}}">Names are empty{{a.displayName.text}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3"><p class="whitetext"></p></div>

        <div class="col-lg-3"><p class="whitetext">Choose problem from the Bank</p></div>
        <div class="col-lg-1"></div>
    </div>


    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
    </div>
        </div>
</div>
{% endblock %}