{% extends "ims_lti_py_sample/base.html" %}

{%block title%}
        Assessment Name
{%endblock%}

        <!--This file is no longer used-->
<!--this is the old student home page-->


{% block content %}
<div class="row main-page-bgr">
    <div class="main-page-img">
     <div class="welcome-row" style="position:relative;">
         {% load staticfiles %}
         <img class="img-home" src="{% static 'css_ui/SummaryPage/image.png' %}">
          {%if userName == 'none' %}
         <h2 class="welcome">Welcome!</h2>
         {%else%}

         <h2 class="welcome">Welcome, {{userName}}!</h2>
         {%endif%}
         <div class="display-grade">
             {%if grade == 'none' %}

             {% else %}
             Overall Grade: {{grade}}%
             {%endif%}
        </div>
         <div class="upload-grade">
            {%if answered_all_questions%}
                <button class="btn" id="btn-submit-grade">
            {%else%}
                 <button class="btn" id="btn-submit-grade" disabled>
            {%endif%}

                <span class="glyphicon glyphicon-cloud-upload" style="padding-right:10px"></span>
                <a href="#">
                {%if grade == 'none' %}
                    Submit answers, go back to {{consumer}}
                {%else %}
                    Go back to {{consumer}}
                {%endif%}
                </a>
            </button>
         </div>
    </div>

    <script>
       $(document).ready(function(){
            $('.quest-item').click(
                function(){
                    console.log("got clicked");
                    getProblem($(this));
                    return false;
                }
        );

       });
    </script>
        <div class="row" style="  border:0px solid #ffff00">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <p>Choose a question to start the assessment</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">





        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row" style="min-height:500px; padding-bottom: 2%">
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class=" col-list">
                <div class="mylist-header">Questions</div>

                <div class="mylist">

                    {% for a in questions %}
                    <div class="mylist-item-div">
                    <a href="#" class="mylist-item quest-item" name="{{a.text.text}}" id="{{a.id}}">
                    {%if seeAnswer %}
                        {%if a.responded == 'Correct'%}
                            <span class="glyphicon glyphicon-ok-circle quest-status" style="color:green"></span>
                        {%elif a.responded == 'Incorrect'%}
                            <span class="glyphicon glyphicon-remove-circle quest-status" style="color: indianred" ></span>
                        {%else %}
                            <span class="glyphicon glyphicon-remove-circle quest-status" style="color: transparent"></span>
                        {%endif%}
                    {%else %}
                        {%if a.responded == 'Correct'%}
                            <span class="glyphicon glyphicon-saved quest-status" style="color:#4D8496;"></span>
                        {%elif a.responded == 'Incorrect'%}
                            <span class="glyphicon glyphicon-saved quest-status" style="color:#4D8496;" ></span>
                        {%else %}
                            <span class="glyphicon glyphicon-remove-circle quest-status" style="color: transparent"></span>
                        {%endif%}

                    {%endif%}
                        {{a.displayName.text}}

                    </a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3" id="assess-finished-msg"></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


    <div class="row" style="min-height:200px; padding-bottom: 2%">
        <div class="col-lg-6"></div>
        <div class="col-lg-4" >
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
        </div>
</div>
{% endblock %}