{% extends "ims_lti_py_sample/base.html" %}

{%block title%}
        Assessment Name
{%endblock%}

{% block content %}
<div class="row main-page-bgr">
    <div class="main-page-img">
     <div class="welcome-row" style="">
         {% load staticfiles %}
         <img class="img-home" src="{% static 'css_ui/SummaryPage/image.png' %}">

         <h2 class="welcome">Welcome, {{userName}}!</h2>
    </div>

    <script>
       $(document).ready(function(){
            $('.quest-item').click(
                function(){
                    console.log("got clicked");
                    getProblem($(this));
                }
        );

       });
    </script>
    <div class="row body-row">
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <div class=" col-list">
                <div class="mylist-header">Questions</div>

                <div class="mylist">
                    {% for a in questions %}
                    <div class="mylist-item-div">
                    <a href="#" class="mylist-item quest-item" value="{{a.files.manip}}"name="{{a.text.text}}" id="{{a.id}}">{{a.displayName.text}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3"><p class="whitetext"></p></div>

        <div class="col-lg-3"></div>
        <div class="col-lg-1"></div>
    </div>


    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
    </div>
        </div>
</div>
{% endblock %}