{% extends "ims_lti_py_sample/question.html" %}

{%block unity%}
<!--{% load staticfiles %}-->
    <!--{%static "Gaspard/Gaspard.logo.png" as gaspard%}-->
    <!--{%static "Gaspard/" as manipFile%}-->
    <!--{%static "Gaspard/Gaspard - Web Bui.unity3d" as gaspardWebBuild%}-->
<script type="text/javascript">
var selectedLayout=null;
        $(document).ready(function () {
            console.log("See Answer in unity.html {{seeAnswer}}");
            var btn_text='';
            if( "{{seeAnswer}}"=='False'){
                btn_text="Save Answer";

            }else{
                btn_text="Submit"

            }


//            var str = '<div id=report-answer style=""></div>' +
//                    ' <button class="btn   submit-answer-btn" id="submit-match-answer" type="button">'+btn_text+'</button>';
//            $("#submit-btn-div").append(str);
            $("#submit-match-answer").click(function () {

                u.getUnity().SendMessage("Question", "RequestRespone", "");
                console.log("send response");
            });
        });
</script>

<!--<div class="col-lg-2 " style="">&lt;!&ndash; want to set height of this col as UnityPlayer&ndash;&gt;-->
    <!--<div class="instruction" style="border:0px solid yellow;">-->
        <!--<div style="display:table;"><h4>Description</h4></div>-->

        <!--<div><p style="">{{question}}</p></div>-->

    <!--</div>-->
<!--</div>-->

<div class="col-lg-12" style="border:0px solid paleturquoise;min-height:600px;">
     <!--<button class="btn  btn-lg submit-answer" id="submit-match-answer" type="button">Submit</button>-->

    <div class="unity-content">
        <div id="unityPlayer" style="border:0px lawngreen solid">
            <div class="missing">
                <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                    <img alt="Unity Web Player. Install now!"
                         src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63"/>
                </a>
            </div>
            <div class="broken">
                <a href="http://unity3d.com/webplayer/"
                   title="Unity Web Player. Install now! Restart your browser after install.">
                    <img alt="Unity Web Player. Install now! Restart your browser after install."
                         src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63"/>
                </a>
            </div>
        </div>
    </div>
</div>



{%endblock%}