{% extends "ims_lti_py_sample/question.html" %}
{%block unity%}

<script type="text/javascript">
    $(document).ready(function () {
        $("#submit-answer").click(function () {

            u.getUnity().SendMessage("Question", "RequestRespone", "");
            console.log("send response");
        });
    });

    var config = {
        width: 1280,
        height: 864,
        params: { enableDebugging: "0", logoimage: "{{gaspard}}" }

    };
    var u = new UnityObject2(config);
    console.log(u);


    jQuery(function () {
        console.log("Entered function");

        var $missingScreen = jQuery("#unityPlayer").find(".missing");
        var $brokenScreen = jQuery("#unityPlayer").find(".broken");
        $missingScreen.hide();
        $brokenScreen.hide();

        u.observeProgress(function (progress) {
            switch (progress.pluginStatus) {
                case "broken":
							$brokenScreen.find("a").click(function (e) {
								e.stopPropagation();
								e.preventDefault();
								u.installPlugin();
								return false;
							});
							$brokenScreen.show();
						break;
						case "missing":
							$missingScreen.find("a").click(function (e) {
								e.stopPropagation();
								e.preventDefault();
								u.installPlugin();
								return false;
							});
							$missingScreen.show();
						break;
						case "installed":
							$missingScreen.remove();
						break;
						case "first":
						break;
					}
				});
                console.log("Calling initPlugin");
				u.initPlugin(jQuery("#unityPlayer")[0], "{{gaspardWebBuild}}");
                console.log("saying smth");
				SaySomethingToUnity();
                console.log("Done")
			});
			function SaySomethingToUnity()
			{   console.log("Sending message");
			    u.getUnity().SendMessage("QuestionLoader", "SetBundleURL", "{{manipFile}}");
                console.log("sending second message");
			    u.getUnity().SendMessage("QuestionLoader", "LoadBundle", "");
			}

            function ReceiveResponse( arg )
		{
		    // show the message
		   // alert( arg );
            $.ajax({
                url:"submit_answer",
                type:"POST",
                data: {answer: arg},
                success: function(response){
                    console.log("Got the answer back");
                    console.log(response);
                    var answer='';
                   // console.log("Got here");
                    if(response['correct']==='true'){
                        answer="Correct answer"+'<span class="glyphicon glyphicon-chevron-ok next-badge" style="float:right"></span>';

                    }else{
                        answer="Wrong answer"+'<span class="glyphicon glyphicon-chevron-remove next-badge"></span>';
                    }
                    //$('.display-answer').css("display", "visible").css("position", "absolute").html(answer);
                    $('#report-answer').addClass('display-answer').html(answer);

                }
            });
		}
</script>
        <div class="unity-content">
			<div id="unityPlayer">
				<div class="missing">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
						<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
					</a>
				</div>
				<div class="broken">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
						<img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
					</a>
				</div>
			</div>
            <button class="btn  btn-lg submit-answer" id="submit-answer" type="button">Submit</button>
		</div>


{%endblock%}