{% extends "ims_lti_py_sample/question.html" %}

{%block unity%}
<!--{% load staticfiles %}-->
    <!--{%static "Gaspard/Gaspard.logo.png" as gaspard%}-->
    <!--{%static "Gaspard/" as manipFile%}-->
    <!--{%static "Gaspard/Gaspard - Web Bui.unity3d" as gaspardWebBuild%}-->
<script type="text/javascript">
var selectedLayout=null;
        $(document).ready(function () {

        });
</script>
<div class="col-lg-12" style="border:0px solid paleturquoise;min-height:600px;">

    <div class="unity-content">
        <div id="unityPlayer" style="border:0px lawngreen solid">
            <div class="missing">
                <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                    <img alt="Unity Web Player. Install now!"
                         src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63"/>
                </a>
            </div>
            <div class="broken">
                <a href="http://unity3d.com/webplayer/"
                   title="Unity Web Player. Install now! Restart your browser after install.">
                    <img alt="Unity Web Player. Install now! Restart your browser after install."
                         src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63"/>
                </a>
            </div>
        </div>
    </div>
</div>



{%endblock%}