@charset "utf-8";
	.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
}
.st0
{
	background : #E6E7E8;
	background : rgba(230, 231, 232, 1);
}
.image14
{
	background-image : url(image14.png);
	background-repeat : no-repeat;
}
.image12
{
	background-image : url(image12.png);
	background-repeat : no-repeat;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
}
.image18
{
	background-image : url(image18.png);
	background-repeat : no-repeat;
}
.image17
{
	background-image : url(image17.png);
	background-repeat : no-repeat;
	opacity : 0.1;
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;
}
.image15
{
	background-image : url(image15.png);
	background-repeat : no-repeat;
}
.image16
{
	background-image : url(image16.png);
	background-repeat : no-repeat;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
}
.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
}
.image19
{
	background-image : url(image19.png);
	background-repeat : no-repeat;
}
.image13
{
	background-image : url(image13.png);
	background-repeat : no-repeat;
}
.st1
{
	background : -moz-linear-gradient(-861.12% 873.77% 0deg,rgba(209, 211, 212, 1) 0%,rgba(167, 169, 172, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(209, 211, 212, 1) 0%, rgba(167, 169, 172, 1) 100%);
	background : -webkit-gradient(linear,-861.12% 873.77% ,-761.12% 873.77% ,color-stop(0,rgba(209, 211, 212, 1) ),color-stop(1,rgba(167, 169, 172, 1) ));
	background : -o-linear-gradient(0deg, rgba(209, 211, 212, 1) 0%, rgba(167, 169, 172, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(209, 211, 212, 1) 0%, rgba(167, 169, 172, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1D3D4', endColorstr='#A7A9AC' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(209, 211, 212, 1) 0%, rgba(167, 169, 172, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1D3D4',endColorstr='#A7A9AC' , GradientType=1);
}
.st2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.image11
{
	background-image : url(image11.png);
	background-repeat : no-repeat;
}
.st3
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	box-shadow : 1px 1px 5px rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') ;
}
.st4
{
	background : -moz-linear-gradient(50% 0% -90deg,rgba(77, 132, 150, 1) 0%,rgba(125, 159, 173, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(77, 132, 150, 1) ),color-stop(1,rgba(125, 159, 173, 1) ));
	background : -o-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496', endColorstr='#7D9FAD' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496',endColorstr='#7D9FAD' , GradientType=0);
}
.st5
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
}
.st6
{
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 2px;
}
.st7
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.st8
{
	background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(39, 170, 225, 1) 0%, rgba(28, 117, 188, 1) 100%);
	background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(39, 170, 225, 1) 0%, rgba(28, 117, 188, 1) 100%);
	background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 71.25 ,color-stop(0,rgba(39, 170, 225, 1) ),color-stop(1,rgba(28, 117, 188, 1) ));
	background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(39, 170, 225, 1) 0%, rgba(28, 117, 188, 1) 100%);
	background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(39, 170, 225, 1) 0%, rgba(28, 117, 188, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
	background : radial-gradient(50% 50%, circle farthest-corner, rgba(39, 170, 225, 1) 0%, rgba(28, 117, 188, 1) 100%);
	opacity : 0.25;
	filter: alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
.st9
{
	background : #7D9FAD;
	background : rgba(125, 159, 173, 1);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	opacity : 0.5;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
}
.st10
{
	background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(237, 28, 36, 1) 0%, rgba(133, 30, 45, 1) 100%);
	background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(237, 28, 36, 1) 0%, rgba(133, 30, 45, 1) 100%);
	background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 71.14 ,color-stop(0,rgba(237, 28, 36, 1) ),color-stop(1,rgba(133, 30, 45, 1) ));
	background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(237, 28, 36, 1) 0%, rgba(133, 30, 45, 1) 100%);
	background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(237, 28, 36, 1) 0%, rgba(133, 30, 45, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
	background : radial-gradient(50% 50%, circle farthest-corner, rgba(237, 28, 36, 1) 0%, rgba(133, 30, 45, 1) 100%);
	opacity : 0.25;
	filter: alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.st11
{
	background : -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(57, 181, 74, 1) 0%, rgba(0, 104, 56, 1) 100%);
	background : -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(57, 181, 74, 1) 0%, rgba(0, 104, 56, 1) 100%);
	background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 74.71 ,color-stop(0,rgba(57, 181, 74, 1) ),color-stop(1,rgba(0, 104, 56, 1) ));
	background : -o-radial-gradient(50% 50%, circle farthest-corner, rgba(57, 181, 74, 1) 0%, rgba(0, 104, 56, 1) 100%);
	background : -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(57, 181, 74, 1) 0%, rgba(0, 104, 56, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
	background : radial-gradient(50% 50%, circle farthest-corner, rgba(57, 181, 74, 1) 0%, rgba(0, 104, 56, 1) 100%);
	opacity : 0.25;
	filter: alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle
{
	font-family : MyriadPro Semibold;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : MyriadPro Bold;
	font-weight : bold;
	font-size : 31px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : MyriadPro Bold;
	font-weight : bold;
	font-size : 12px;
	color : #4D8496;
	color : rgb(77, 132, 150);
}
