@charset "utf-8";
	.st0
{
	border-style : Solid;
	border-color : #A7A9AC;
	border-color : rgba(167, 169, 172, 1);
	border-width : 1px;
}
.st1
{
	border-style : Solid;
	border-color : #A7A9AC;
	border-color : rgba(167, 169, 172, 1);
	border-width : 1px;
}
.st2
{
	background : #F9FBFC;
	background : rgba(249, 251, 252, 1);
	border-style : Solid;
	border-color : #4D8496;
	border-color : rgba(77, 132, 150, 1);
	border-width : 1px;
}
.st3
{
	background : -moz-linear-gradient(50% 0% -90deg,rgba(125, 159, 173, 1) 0%,rgba(255, 255, 255, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(125, 159, 173, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
	background : -o-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD', endColorstr='#FFFFFF' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD',endColorstr='#FFFFFF' , GradientType=0);
}
.st4
{
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 2px;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	opacity : 0.05;
	filter: alpha(opacity=5) progid:DXImageTransform.Microsoft.Alpha(opacity=5) ;
}
.st5
{
	background : -moz-linear-gradient(50% 0% -90deg,rgba(77, 132, 150, 1) 0%,rgba(125, 159, 173, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(77, 132, 150, 1) ),color-stop(1,rgba(125, 159, 173, 1) ));
	background : -o-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496', endColorstr='#7D9FAD' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496',endColorstr='#7D9FAD' , GradientType=0);
}
.st6
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
}
.st7
{
	background : #C7DCE3;
	background : rgba(199, 220, 227, 1);
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
}
.st8
{
	background : #F9FBFC;
	background : rgba(249, 251, 252, 1);
	border-style : Solid;
	border-color : #4D8496;
	border-color : rgba(77, 132, 150, 1);
	border-width : 1px;
}
.st9
{
	border-style : Solid;
	border-color : #A7A9AC;
	border-color : rgba(167, 169, 172, 1);
	border-width : 1px;
}
.st10
{
	border-style : Solid;
	border-color : #A7A9AC;
	border-color : rgba(167, 169, 172, 1);
	border-width : 1px;
}
.st11
{
	background : #242C4D;
	background : rgba(36, 44, 77, 1);
	border-style : Solid;
	border-color : #242C4D;
	border-color : rgba(36, 44, 77, 1);
	border-width : 1px;
}
.st12
{
	border-style : Solid;
	border-color : #A7A9AC;
	border-color : rgba(167, 169, 172, 1);
	border-width : 1px;
}
.st13
{
	background : #242C4D;
	background : rgba(36, 44, 77, 1);
	border-style : Solid;
	border-color : #242C4D;
	border-color : rgba(36, 44, 77, 1);
	border-width : 1px;
}
.st14
{
	background : #242C4D;
	background : rgba(36, 44, 77, 1);
	border-style : Solid;
	border-color : #242C4D;
	border-color : rgba(36, 44, 77, 1);
	border-width : 1px;
}
.st15
{
	background : #4D8496;
	background : rgba(77, 132, 150, 1);
}
.st16
{
	border-style : Solid;
	border-color : #A7A9AC;
	border-color : rgba(167, 169, 172, 1);
	border-width : 1px;
}
.st17
{
	border-style : Solid;
	border-color : #4D8496;
	border-color : rgba(77, 132, 150, 1);
	border-width : 1px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.st18
{
	border-style : Solid;
	border-color : #4D8496;
	border-color : rgba(77, 132, 150, 1);
	border-width : 1px;
}
.st19
{
	background : #4D8496;
	background : rgba(77, 132, 150, 1);
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.st20
{
	background : #C7DCE3;
	background : rgba(199, 220, 227, 1);
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.st21
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 1px;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 16px;
	color : #F1F2F2;
	color : rgb(241, 242, 242);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #4D8496;
	color : rgb(77, 132, 150);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 16px;
	color : #F1F2F2;
	color : rgb(241, 242, 242);
}
.NormalCharacterStyle4
{
	font-family : Wingdings 2;
	font-size : 22px;
	line-height : 24px;
	color : #ED1C24;
	color : rgb(237, 28, 36);
}
.NormalCharacterStyle10
{
	font-family : MyriadPro Semibold;
	font-size : 12px;
	line-height : 24px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle3
{
	font-family : MyriadPro Semibold;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : MyriadPro Semibold;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : MyriadPro Bold;
	font-weight : bold;
	font-size : 31px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : MyriadPro Semibold;
	font-size : 12px;
	line-height : 16px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle7
{
	font-family : Wingdings 2;
	font-size : 22px;
	line-height : 45.64px;
	color : #00A651;
	color : rgb(0, 166, 81);
}
.NormalCharacterStyle11
{
	font-family : MyriadPro Semibold;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : MyriadPro Semibold;
	font-size : 12px;
	line-height : 24px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle6
{
	font-family : Wingdings 2;
	font-size : 22px;
	line-height : 45.64px;
	color : #00A651;
	color : rgb(0, 166, 81);
}
.NormalCharacterStyle14
{
	font-family : MyriadPro Semibold;
	font-size : 12px;
	line-height : 24px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle5
{
	font-family : Wingdings 2;
	font-size : 22px;
	line-height : 45.64px;
	color : #00A651;
	color : rgb(0, 166, 81);
}
.NormalCharacterStyle13
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
