body{
    min-width: 1210px;
}
@media (min-width: 1200px) {

}
.wrapper {
			position:absolute;
			top:50%;
			left:50%;
		}
.box{
    height:300px;
    width:250px;
    border:1px solid blue;
}

.header-img {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

#newasses {
}
/*
Collapse
*/
.panel-default .panel-heading{
      background-image: -webkit-linear-gradient(top, #DBE6EA,  #EDF3F4);
    border-radius:4px;
     border:1px solid #4D8496;

}
 .panel-title a{
    font-size: 21px;
    color:#4D8496;
    text-decoration: none;
    z-index:100;


}
 .mylist-bank-items{
      background-color: transparent;
   border: 1px solid #4D8496;
    overflow: hidden;
    border-radius: 3px;

 }
.panel-title{
    cursor: pointer;

}
.bank-type{
    color:#4D8496;
    font-size: 21px;
}
.panel-body{
    padding:0;
    border:0;
}
.panel-default{
    /*border-color:#4D8496;*/
    border:0;
}
/*.container-fluid{*/
    /*min-width:1200px;*/
/*}*/

@media (min-width: 1190px) {
  .container {
    width: 1190px;
  }
}
/*.container-fluid {*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
/*}*/

.main-header{
    background : #4D8496;
	background : rgba(77, 132, 150, 1);
    height:100%;

}
.header-height{
     height:150px;
}


.mit-image {
    position: relative;
    left: 50%;
    top: 30%;
}





#btn-new-assess {
}
#btn-del-assess {
}
#btn-get-offering{
}

#btn-reorder-items{
    position:absolute;
    right:25px;
    top:10px;
    font-size: 17px;


}

.hide{
    visibility: hidden ;
}

.list-group-item:active {
    color: red;
}


.manage-assess-btn{
     color: white;
     background: #4D8496;
    display:inline-block;
    float:right;
    font-size: 20px;
}
.manage-assess-btn:hover{
    color:white;
    /*background-color: #B8CED5;*/
    border:1px #B8CED5 solid;
    box-shadow: 3px 3px 2px black;
}
#display-offering-id{

}
#modal-offering-id{

 }


#assess-items-name{

}
#bank-items-name{

}
#select-badge{

}

.assess-item {

}
#assess-items{


}
.bank-item{

}
/**
used for dropping items into the assessment list
*/

#assess-box-droppable{
     display:none;

}
/**
used for dropping items into the bank list:
removing items from the assessment
*/
#bank-box-droppable{

}
#inpt-change-assess-name{
    width:80%;
    background-color:  #B8CED5;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    floralwhite;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    floralwhite;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    floralwhite;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   floralwhite;
}

.mylist-header{
    background: #4D8496;

    background: rgba(77, 132, 150, 1);
    color: white;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 21px;
    overflow:visible;
    border-radius: 3px;


}
h4{
    text-align: center;
    float:left;
    font-size : 26px;
	color : #4D8496;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.modal-body{
    font-size:21px;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#000000;


}
.modal-header{
    height: 60px;
}
a.mylist-head:hover{
    text-decoration: none;
}

.mylist {
    background-color: #fff;
    border: 1px solid #4D8496;
    overflow: hidden;
    border-radius: 3px;
}
.grade{
    /*background-image: -webkit-linear-gradient(top,  #4D8496,#DBE6EA);*/
    color:white;
    font-size: 25px;
    padding:10px 15px;
    position:absolute;
    top:50px;
    right:70px;
    border: 1px solid yellow;

}
.display-grade{
    color:white;
    font-size: 25px;
    width:250px;
    position:absolute;
    top:50px;
    right:100px;
    border: 0px solid yellow;


}
.upload-grade{
    position:absolute;
    right:30px;
    top:30px;

}


a.mylist-item {
 /*border:1px solid indianred;*/
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #4D8496;
    font-size: 21px;

    /*padding-right: 60px;*/
    /*margin-right:60px;*/
     /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/

    text-decoration: none;
}
a.assess-item-placeholder, a.assess-item-placeholder:hover{
    /*border:1px solid indianred;*/
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #4D8496;
    font-size: 18px;
    text-align: center;
    background: #F0F4F6;
     background-image: -webkit-linear-gradient(top, #DBE6EA,  #EDF3F4);
    text-decoration: none;

}
.mylist-item-text{
    /*border:1px solid indianred;*/
    postion:relative;
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
    /*margin-right: 60px;*/
   width:70%;



}

.mylist-item-div{
    background-color: #fff;
    /*width:auto;*/
     background-image: -webkit-linear-gradient(top, white,  #F0F4F6);
  background-image: -moz-linear-gradient(top, white,  #F0F4F6);
  background-image: -ms-linear-gradient(top, white,  #F0F4F6);
  background-image: -o-linear-gradient(top, white,  #F0F4F6);
  background-image: linear-gradient(to bottom, white, #F0F4F6);
      border-radius : 6px;

}
.mylist-item-div:hover{
    background: #F0F4F6;
    background-image: -webkit-linear-gradient(top, #DBE6EA,  #EDF3F4);



}
/* Dont use this
*/
.mylist-item-div-clone{
    background: white;
  background-image: -webkit-linear-gradient(top, white,  #F0F4F6);
  background-image: -moz-linear-gradient(top, white, #F0F4F6);
  background-image: -ms-linear-gradient(top, white,  #F0F4F6);
  background-image: -o-linear-gradient(top, white, #F0F4F6);
  background-image: linear-gradient(to bottom, white, #F0F4F6);
    z-index: 200;

}
.assess-item:hover{
     background:#F0F4F6;
     background: rgba(199, 220, 227, 1);

}
.assess-item.selected{
     background:#F0F4F6;

}

.selected-bank-item, .selected-bank-item:hover{
    background: #B8CED5;
  background-image: -webkit-linear-gradient(top, #DBE6EA,  #B8CED5);
  background-image: -moz-linear-gradient(top, white,  #B8CED5);
  background-image: -ms-linear-gradient(top, white,  #B8CED5);
  background-image: -o-linear-gradient(top, white,  #B8CED5);
  background-image: linear-gradient(to bottom, #DBE6EA,#B8CED5);
    border-radius : 6px;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;

}

#assess-list {

}
#assess-name{

}
#create{

}
#modal-create-assessment{

}


body{
    color: white;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h1{
    /*font-family : MyriadPro Bold;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-weight : bold;
	font-size : 50px;
}
h1,h2 {
    text-align: center;
    color: white;



}
.welcome {
    display: inline;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 35px;
}

.img-home {
    vertical-align: baseline;
    margin-left: 30px;
}

.col-list {
    padding-left: 0;
    padding-right: 0;
}
.welcome-row{
    padding: 60px 30px;
}



/*********************************

    Belongs to student View

**********************************/
.question-col{

    position:relative;


}
.instruction{
    position:relative;
    margin-left: 15px;
    z-index: 100;
    /*top:50%;*/
}
.instruction p{
    /*color: #4D8496;*/
    color : #A7A9AC;
    font-size: 17px;
}
.unity-content{
    position:relative;
    padding:1% 0 3% 0;
    float:right;
    /*border:1px solid red;*/
}
.unity-content:focus{
    /*border:1px orchid solid;*/
}
.unity-content-multichoice{
    position:relative;
    left:3%;
    bottom:5%;
    width:100%;
    min-width:382px;
    /*height:auto;*/
    float:left;
    max-height:70%;
    text-align: center;

}
.next-question{
    /*position: absolute;*/
    /*top:3%;*/
    /*width:auto;*/
    /*right:1%;*/
    position:relative;
    float: right;
    vertical-align: middle;
    margin:5px;

}
.next-badge{
    z-index:100;
    background:#4D8496;
    color: white;
    font-size:30px;
    padding:2px;
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);
    cursor:pointer;

}
.grade-area{
    background-color:#4D8496;
    padding: 3px;

}
.grade-header{
    /*background-color:#4D8496;*/
    padding: 5px;
    font-size: 25px;
    color:#4D8496;
    margin:5px;
    margin-left: 0;
    border-bottom: 3px solid #4D8496;

}
#display-grade{
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#btn-submit-grade{
    background-color:#4D8496;
    font-size: 35px;
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);
    /*color:white;*/


}
#btn-submit-grade:hover {
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);
    color:#ffffff;
    border: 0px solid white;
    /*background-color: #4D8496;*/
    font-size: 38px;


}
#btn-submit-grade:active{
    color:white;
}
#btn-submit-grade::selection{
    color: white;
}

.btn:focus {
  color: white;
  text-decoration: none;
}
#submit-grade-text{
    position:absolute;
    top:10px;
    right:27px;
    color:white;
    padding:2px;
    background : linear-gradient(180deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);




}
.display-answer{
    /*display: hidden;*/
    position: absolute;
    top:20px;
    right: 200px;
    font-size: 30px;
    width:200px;



}
.quest-item{

}
.quest-status{
    padding-right: 15px;
}
#prob-quest-header{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
overflow-wrap:break-word  ;

	font-size : 26px;
    opacity:1;
}
.dropdown-menu{
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);
    width:100%;
}

#prob-quest-row{
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);

}

.submit-answer{

    background-color : #4D8496;
    color: white;
    font-size : 33px;

}
#submit-match-answer{
    bottom:10%;
    right:10%;
    position:absolute;

}
#submit-multi-answer{
    position:relative;
    float: right;
    margin-bottom:10px;
    margin-top:5px;

}
#report-answer{
    position:absolute;
    bottom:30%;
    right:10%;
    color:#4D8496;
    font-size: 33px;

}
#report-multi-answer{
    position:absolute;
    right:20%;
    bottom:15px;
    /*height:auto;*/
    font-size: 33px;

    color:#4D8496;
}


.display-question{

    background-image : url(css_ui/GUI_Matching/image9.png);
	background-repeat : repeat;
	/*opacity : 1;*/
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;

}

.no-padding{
    padding:0;
}
.col-quest-background{
    background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	box-shadow : 2px 2px 5px rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') ;
}
.main-problem-bgr{

    padding:0 40px 50px 40px;
    background : -moz-linear-gradient(50% 0% -90deg,rgba(77, 132, 150, 1) 0%,rgba(125, 159, 173, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(77, 132, 150, 1) ),color-stop(1,rgba(125, 159, 173, 1) ));
	background : -o-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496', endColorstr='#7D9FAD' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496',endColorstr='#7D9FAD' , GradientType=0);
}
.main-page-bgr{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(125, 159, 173, 1) 0%,rgba(255, 255, 255, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(125, 159, 173, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
	background : -o-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD', endColorstr='#FFFFFF' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD',endColorstr='#FFFFFF' , GradientType=0);
}
.main-page-img{
    background-image : url(css_ui/SummaryPage/image6.png);
	background-repeat : repeat;
	opacity : 1;
	filter: alpha(opacity=5) progid:DXImageTransform.Microsoft.Alpha(opacity=5) ;
}
.instructor-main-bgr{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(125, 159, 173, 1) 0%,rgba(255, 255, 255, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(125, 159, 173, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
	background : -o-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD', endColorstr='#FFFFFF' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD',endColorstr='#FFFFFF' , GradientType=0);
}
.header-border{
    border-bottom: 1px solid #D1D3D4;

}


.NormalCharacterStyle6
{
	font-family : MyriadPro Bold;
	font-weight : bold;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}

.NormalCharacterStyle4
{
	font-family : MyriadPro Semibold;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #4D8496;
	color : rgb(77, 132, 150);
}
.NormalCharacterStyle3
{
	font-family : MyriadPro Semibold;
	font-size : 21px;
	line-height : 43.08px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}

/*********************************
Multichoice question
*********************************/

#choices-row{
     /*max-width:900px;*/
    /*padding: 30px;*/
    /*padding-top:10%;*/
    /*padding-bottom:10%;*/
    padding-right:30px;

}
.choice-col{
    /*max-width:418px;*/
    border:0px green solid;
    margin-top:2%;
    margin-bottom: 2%;
}
#expand-img{

    position:relative;
    width:100%;
    text-align: center;


    background-color: white;
border:2px #4D8496 solid;
    /*margin:-25px;*/
}
#show-large-img{


}
#choice4{

}
.multichoice-img-lg{
    width:90%;

    diplay:block;
    /*margin:;*/
    padding:10% 5% 0 12%;
}
.multichoice-img-small{
    width:80%;
    height:auto;

}
.thumbnail{
     background-color:transparent;
    max-width: 400px;
    margin:auto;

}
.next-choice-badge{
    font-size:30px;
    color : #4D8496;
}
.next-choice-badge:hover{

}
.close-choice-badge{
    position:absolute;
    right:10px;
    top:10px;
    color : #4D8496;
}