

#newasses {
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
     .body-row{
        height:980px;
    }
}
@media (min-width: 992px) {
  .container {
    width: 1170px;


  }
    .body-row{
        height:980px;
    }
}
@media (min-width: 2000px) {
  .container {
    width: 1920px;

  }
    .body-row{
        height:980px;
    }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-header{
    background : #4D8496;
	background : rgba(77, 132, 150, 1);
    height:100%;

}
.header-height{
     height:150px;
}


.mit-image {
    position: relative;
    left: 50%;
    top: 30%;
}
.body-row{

}




#btn-new-assess {
    color: white;
    background: #4D8496;

}


#btn-del-assess {
    color: white;
    background: #4D8496;


}
#btn-get-offering{

}
.hide{
    visibility: hidden ;
}

.list-group-item:active {
    color: red;
}

#but {
}
.manage-assess-btn{
     color: white;
     background: #4D8496;
    display:inline-block;
    float:right;
}
#display-offering-id{

}
#modal-offering-id{

 }
#assess-items-name{

}
#select-badge{

}

.assess-item {

}
#assess-items{

}
.bank-item{

}
/**
used for dropping items into the assessment list
*/

#assess-box-droppable{

}
/**
used for dropping items into the bank list:
removing items from the assessment
*/
#bank-box-droppable{

}
.bank-item, .item-in-assess{
     background: #F0F4F6;
  background-image: -webkit-linear-gradient(top, white,  #F0F4F6);
  background-image: -moz-linear-gradient(top, white,  #F0F4F6);
  background-image: -ms-linear-gradient(top, white,  #F0F4F6);
  background-image: -o-linear-gradient(top, white,  #F0F4F6);
  background-image: linear-gradient(to bottom, white, #F0F4F6);
      border-radius : 6px;


}
.mylist-header{
    background: #4D8496;
   /*background:red;*/
    background: rgba(77, 132, 150, 1);
    color: white;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 21px;


}
h4{
    text-align: center;
    float:left;
    font-size : 26px;
	color : #4D8496;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
a.mylist-head:hover{
    text-decoration: none;
}

.mylist {
    background-color: #fff;
    border: 1px solid #4D8496;
}

a.mylist-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #4D8496;
    font-size: 21px;
     font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

    text-decoration: none;
}

.mylist-item-div{
    background-color: #fff;
    width:auto;

}
.mylist-item-div:hover{
     /*background: #F0F4F6;*/
    background-image: -webkit-linear-gradient(top, #DBE6EA,  #EDF3F4);
     /*background: rgba(199, 220, 227, 1);*/


}
.assess-item:hover{
     background:#F0F4F6;
     /*background: rgba(199, 220, 227, 1);*/

}

a.selected {
    background: #F0F4F6;
    background-image: -webkit-linear-gradient(top, #DBE6EA,  #EDF3F4);

}


a.selected:hover {
    /*background: #C7DCE3;*/
    background-image: -webkit-linear-gradient(top, #DBE6EA,  #EDF3F4);
}
.gragabble{
    background:#DBE6EA;
  background-image: -webkit-linear-gradient(top, #DBE6EA,  #B8CED5);
  background-image: -moz-linear-gradient(top, white,  #B8CED5);
  background-image: -ms-linear-gradient(top, white,  #B8CED5);
  background-image: -o-linear-gradient(top, white,  #B8CED5);
  background-image: linear-gradient(to bottom, #DBE6EA,#CADAE0);
    border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;

}
.selected-bank-item, .selected-bank-item:hover{
    background: #B8CED5;
  background-image: -webkit-linear-gradient(top, #DBE6EA,  #B8CED5);
  background-image: -moz-linear-gradient(top, white,  #B8CED5);
  background-image: -ms-linear-gradient(top, white,  #B8CED5);
  background-image: -o-linear-gradient(top, white,  #B8CED5);
  background-image: linear-gradient(to bottom, #DBE6EA,#B8CED5);
    border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;

}
/*a.selected-bank-item:hover{*/
    /**/
/*}*/
#assess-list {

}
#assess-name{

}
#create{

}
#modal-create-assessment{

}

.whitetext {
    color: white;
}
body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h1{
    /*font-family : MyriadPro Bold;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-weight : bold;
	font-size : 50px;
}
h1,h2 {
    text-align: center;
    color: white;



}


.instruction{
    padding-top: 50px;
     font-size : 20px;

}
.question-col{
    position:absolute;
    /*padding:30px;*/
    left:5%;
    top:70px;
    width:400px;
    z-index: 100;
    opacity:1;

}
.unity-content{
    position:absolute;
    padding:70px 20px;
    right:10px;
}
.next-question{
    position: absolute;
    top:20px;
    width:auto;
    right:10px;

}
.next-badge{

    background:#4D8496;
    color: white;
    font-size:30px;
    padding:2px;
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);


}
.display-answer{
    /*display: hidden;*/
    position: absolute;
    top:20px;
    right: 200px;
    font-size: 30px;
    width:200px;



}
#report-answer{
    display:hidden;
}
.welcome {
    display: inline;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 35px;
}


.mylist-item-div-clone{
    background: white;
  background-image: -webkit-linear-gradient(top, white,  #C7DCE3);
  background-image: -moz-linear-gradient(top, white,  #C7DCE3);
  background-image: -ms-linear-gradient(top, white,  #C7DCE3);
  background-image: -o-linear-gradient(top, white,  #C7DCE3);
  background-image: linear-gradient(to bottom, white,  #C7DCE3);

}




.img-home {
    vertical-align: baseline;
    margin-left: 30px;
}

.col-list {
    padding-left: 0;
    padding-right: 0;
}
.quest-item{

}
.prob-quest-header{
    /*font-family : MyriadPro Semibold;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	font-size : 26px;
    opacity:1;
    /*background-color: gray;*/

}
#prob-quest-row{
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);

}
.dropdown-menu{
    box-shadow : 5px 5px 2px rgba(0, 0, 0, 0.25);
}
.submit-answer{
    bottom:150px;
    right:200px;
    position:absolute;
    background-color : #4D8496;
    color: white;
    font-size : 33px;

}
.welcome-row{
    padding: 60px 30px;
}
.display-question{

    background-image : url(css_ui/GUI_Matching/image9.png);
	background-repeat : repeat;
	/*opacity : 1;*/
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;

}

.no-padding{
    padding:0;
}
.col-quest-background{
    background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	box-shadow : 2px 2px 5px rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#000000') ;
}
.main-problem-bgr{

    padding:0 40px 50px 40px;
    background : -moz-linear-gradient(50% 0% -90deg,rgba(77, 132, 150, 1) 0%,rgba(125, 159, 173, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(77, 132, 150, 1) ),color-stop(1,rgba(125, 159, 173, 1) ));
	background : -o-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496', endColorstr='#7D9FAD' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(77, 132, 150, 1) 0%, rgba(125, 159, 173, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D8496',endColorstr='#7D9FAD' , GradientType=0);
}
.main-page-bgr{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(125, 159, 173, 1) 0%,rgba(255, 255, 255, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(125, 159, 173, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
	background : -o-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD', endColorstr='#FFFFFF' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD',endColorstr='#FFFFFF' , GradientType=0);
}
.main-page-img{
    background-image : url(css_ui/SummaryPage/image6.png);
	background-repeat : repeat;
	opacity : 1;
	filter: alpha(opacity=5) progid:DXImageTransform.Microsoft.Alpha(opacity=5) ;
}
.instructor-main-bgr{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(125, 159, 173, 1) 0%,rgba(255, 255, 255, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(125, 159, 173, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
	background : -o-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD', endColorstr='#FFFFFF' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(125, 159, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);
	border-style : Solid;
	border-color : #D1D3D4;
	border-color : rgba(209, 211, 212, 1);
	border-width : 1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D9FAD',endColorstr='#FFFFFF' , GradientType=0);
}
.header-border{
    border-bottom: 1px solid #D1D3D4;

}


.NormalCharacterStyle6
{
	font-family : MyriadPro Bold;
	font-weight : bold;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Wingdings 2;
	font-size : 39px;
	line-height : 81.92px;
	color : #00A651;
	color : rgb(0, 166, 81);
}
.NormalCharacterStyle4
{
	font-family : MyriadPro Semibold;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #4D8496;
	color : rgb(77, 132, 150);
}
.NormalCharacterStyle3
{
	font-family : MyriadPro Semibold;
	font-size : 21px;
	line-height : 43.08px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle2
{
	font-family : Wingdings 2;
	font-size : 39px;
	line-height : 81.92px;
	color : #00A651;
	color : rgb(0, 166, 81);
}
.NormalCharacterStyle
{
	font-family : Wingdings 2;
	font-size : 39px;
	line-height : 43.08px;
	color : #ED1C24;
	color : rgb(237, 28, 36);
}
